/*
=============== 
Fonts
===============
*/

@import url(https://fonts.google.com/specimen/Outfit);

/*
=============== 
Variables
===============
*/

:root {
  --clr-font-primary-Soft-blue: #8bacda;
  --clr-font-secondary-Cyan: #00fff7;
  --clr-Very-dark-blue-main-BG: #0d192b;
  --clr-Very-dark-blue-card-BG: #14253d;
  --clr-Very-dark-blue-line: #2f415b;
  --clr-White: #ffffff;
  --font-family: "Outfit", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 1px;
  --radius: 20px;
}

/*
=============== 
Global styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-Very-dark-blue-main-BG);
  font-family: var(--font-family);
  color: var(--clr-font-primary-Soft-blue);
  line-height: 1.5;
  font-size: 18px;
  /* text-shadow: 0 0 2px; */
}
a {
  text-decoration: none;
}

/*
=============== 
card 
===============
*/

.card {
  width: 375px;
  height: 100vh;
  margin: 50px auto;
  border-radius: var(--radius);
  background: var(--clr-Very-dark-blue-card-BG);
  overflow: hidden;
  box-shadow: 10px 10px 5px 5px #0d192b;
}

/*
=============== 
banner
===============
*/
.banner {
  margin: 30px 30px;
  /* padding: 10px; */
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}
.banner-img {
  margin: 0px auto;
  /* padding: 10px; */
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.background-hover {
  background: rgba(0, 255, 247, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0%;
  visibility: hidden;
}
.view-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.banner:hover .view-icon {
  visibility: visible;
  /* z-index: 1; */
}
.banner:hover .background-hover {
  visibility: visible;
}
/*
=============== 
info
===============
*/
.info-section {
  margin: 5px auto;
  padding: 0 32px;
}
.nft-title {
  color: var(--clr-White);
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 400;
  cursor: pointer;
}
.nft-title:hover {
  color: var(--clr-font-secondary-Cyan);
}
.eth-price,
.countdown-info,
.nft-info {
  font-size: 16px;
  /* font-weight: 300; */
}
.nft-info {
  margin-bottom: 20px;
}
.eth-icon {
  display: inline-block;
  margin-right: 5px;
}
.clock-icon {
  display: inline-block;
  margin-right: 5px;
}
.price-countdown {
  margin: 10px auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-section {
  color: var(--clr-font-secondary-Cyan);
  display: flex;
}
.countdown-section {
  display: flex;
}
.content-divider {
  height: 2px;
  background: var(--clr-Very-dark-blue-line);
  margin: 20px 30px;
}
.creator-section {
  display: flex;
  margin: 20px 30px;
  font-size: 16px;
}
.creator-section img {
  width: 100%;
  display: block;
}
.creator-avatar {
  width: 35px;
  height: 35px;
  border: 1px solid var(--clr-White);
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  margin-right: 30px;
  margin-bottom: 30px;
}
.creator-info {
  display: inline-block;
  /* font-weight: 300; */
}
.creator-name {
  color: var(--clr-White);
  cursor: pointer;
}
.creator-name:hover {
  color: var(--clr-font-secondary-Cyan);
}
